---
import ProjetosLayout from "../layouts/Projetos.astro";
import { projetosPreenchido } from "../consts";
---

<ProjetosLayout>
  <main>
    <div class="flex flex-col gap-8">
      <h1 class="text-3xl">Projetos</h1>
      <div class="grid gap-6 md:grid-cols-2">
        {Object.entries(projetosPreenchido.projetos).map(([nome, projeto]) => (
          <div class="card bg-base-200 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">{nome}</h2>
              <div class="flex flex-wrap gap-2 mb-4">
                {projeto.tags.map((tag) => (
                  <span class="badge badge-primary badge-sm">{tag}</span>
                ))}
              </div>
              <div class="card-actions justify-end">
                <a href={projeto.url} target="_blank" rel="noopener" class="btn btn-primary btn-sm">
                  Ver Projeto
                </a>
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>
  </main>
</ProjetosLayout>
