---
export interface Props {
  tags: string[];
  maxTags?: number;
  includeDate?: string;
  size?: 'md' | 'lg';
}

const { tags, maxTags = tags.length, includeDate, size = 'md' } = Astro.props;

const sizeClass = size === 'lg' ? 'badge-lg' : '';
---

<div class="flex flex-wrap gap-2">
  {tags.slice(0, maxTags).map((tag) => (
    <div class={`badge ${sizeClass}`}>
      {tag}
    </div>
  ))}
  {includeDate && (
    <div class={`badge ${sizeClass} opacity-60`}>
      {includeDate}
    </div>
  )}
</div>
